  
  .swiper {
    width: 100%;
    max-height: 800px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 100%; /* Ensures images fill the slide width */
    height: auto;  /* Maintains image aspect ratio */
    object-fit: cover; /* Scales images to fit while preserving aspect ratio */
  }
  