.logo {
  width: 120px;
  height: 110px;
}

.content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.897);
  padding: 20px;
  box-sizing: border-box;
}

.section-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  margin: 30px 0 20px 0;
}

.footer-text b {
  font-style: oblique;
  color: aliceblue;
  text-decoration: underline;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 25px;
}
.footer-text p {
  color: aliceblue;
  font-family: var(--font-main);
  font-size: 16px;
}

.section-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 20px;
}

.section-media-text {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.section-text p {
  font-style: oblique;
  color: aliceblue;
}

/* Redes sociales */
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: rgb(175, 5, 5);
}
.containerTwo:hover {
  background-color: #0866ff;
}
.containerThree:hover {
  background-color: #a018a5;
}
.containerFour:hover {
  background-color: #4bbd7a;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  font-size: 25px;
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 💥 Media Queries para RESPONSIVE */
@media (max-width: 1024px) { 
  .section-footer {
    width: 100%;
    align-items: center;
    text-align: center;
    height: 50px;
  }
  .footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-text b {
    font-size: 12px;
  }
  .footer-text p {    
    font-size: 11px;
    color: aliceblue;
  }
}

@media (max-width: 768px) {  
  .section-footer {
    width: 100%;
    align-items: center;
    text-align: center;
    height: 50px;
  }
  .footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-text b {
    font-size: 12px;
  }
  .footer-text p {    
    font-size: 11px;
    color: aliceblue;
  }
  .section-media-text {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .logo {
    width: 80px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .section-footer {
    width: 100%;
    align-items: center;
    text-align: center;
    height: 50px;
  }
  .footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-text b {
    font-size: 12px;
  }
  .footer-text p {    
    font-size: 11px;
    color: aliceblue;
  }

  .section-text {
    font-size: 8px;
  }

  .socialContainer {
    width: 44px;
    height: auto;
  }

  .socialSvg {
    font-size: 20px;
  }
}
