/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.logo{
    margin-left: 150px;
}

/* NAVBAR STYLING STARTS */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#021323;
    border: none;
    width: 100%;
    top: 0; 
    z-index: 100;
    height: 100px;
}

.nav-links a {
  color: #fff;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-right: 250px;
}

.menu li:hover {
  background-color: #2793EB;
  border-radius: 20px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.dropdown-sub {
  position: relative; 
}

.dropdown {
  background-color: #021323;
  padding: 1em 0.2em;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 15px;
  top: 37px;
  width: 220px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.3em 1em;
  width: auto;
  text-align: left;
}

.dropdown li:hover {
  background-color: #2793EB;
}

.dropdown-sub:hover .dropdown {
  display: block;
}
/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color:#021323;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#021323;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color:#021323;
  }
}