/* UTILITIES */
* {
  /* box-sizing: border-box; */
  --blue-one: #021323;
  --blue-two: #041D3C;
  --blue-tree: #96BCEB;
  --blue-for: #125486;
  --blue-five: #2793EB;
}
.card {
  width: 100%;
  border: 0;
}
#root{
  width: 100%;
  margin: 0;
  padding: 0;
}
.custom-menubar {
  background-color: var(--blue-two);
  color: white;
  z-index: 999;
}
.custom-menubar .p-menuitem-link {
  background-color: var(--blue-two);
  color: white;
  border: none;
  text-decoration: none;
}
.p-menuitem-link:hover {
border: none;

}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: #fff;
}
@media screen and (max-width: 960px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
      display: flex;
      flex-direction: column;
      top: 100%;
      left: 0;
      z-index: 1;
      padding: 0;
  }
}
@media screen and (max-width: 960px) {
  .custom-menubar {
    display: flex;
    justify-content: space-between;
    border: 0;
    border-radius: 0;
  }
  .p-menubar .p-menubar-button {
      display: flex;
      width: 2rem;
      height: 2rem;
      color: #6b7280;
      border-radius: 50%;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
      
  }
}
@media screen and (max-width: 425px) {
  .card {
    width: 100%;
    border: 0;
  }
  .custom-menubar {
    display: flex;
    justify-content: space-between;
    border: 0;
    border-radius: 0;
  }
  .p-menubar .p-menubar-button {
      display: flex;
      width: 2rem;
      height: 2rem;
      color: #6b7280;
      border-radius: 50%;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
      
  }
}

