.content-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.video {
  display: flex;
  width: 600px;
  height: 400px;
}
.container-video {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 20px 0 400px 0;
}
.fondo-video {
  width: 1050px;
  height: auto;
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 1; /* Está detrás */
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,244,235,1) 71%);
}
.youtube-text {
  background-color: #fff;
  width: 450px;
  height: 250px;
  position: absolute;
  top: 310px;
  left: 800px;
  z-index: 2; /* Está adelante */
}
.youtube {
  width: 700px;
  height: 100px;
  position: absolute;
  top: 150px;
  left: 745px;
  z-index: 2; /* Está adelante */ 
  font-size: 50px;
}
.tube{
  color: #fff;
  background-color: #FE0000;
  padding: 3px;
  border-radius: 15px;
}
.video-text {
  padding: 40px 20px 0 20px;
  width: auto;
  height: auto;
}
.url-canal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: #FE0000;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
}
.url-canal:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: aliceblue;
  font-style: oblique;
  font-size: 30px;
}
.container-mision-vision {
  margin: 300px 0 100px 0;
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  width: 100%;
  height: 600px;
  background-color: #96BCEB;
}
.mision-vision {
  width: 60%;
  min-height: 500px;
  border-radius: 10px;
  text-align: center; /* Centra el texto dentro de la caja */
}
.mision-vision-text {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  font-size: 40px;
  font-family: "Montserrat";
  padding: 50px 0 50px 0;
}
.mision-vision p {
  font-size: 20px;
  color: #000;
  font-family: "Montserrat";
}
.mision-vision h3 {
  text-align: left;
}
.mision-vision-img {
  max-width: 500px;
  max-height: 750px;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 300px;
}
.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-family: "Montserrat";
  width: 100%;
  height: 300px;
  background-color: #041D3C;
}
.join-us h1 {
  font-size: 40px;
  margin-top: 50px;
  color: #fff;
}
.join-us p {
  font-size: 20px;
  color: #fff;
}
.location-us {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 40px;
  color: #000;
  font-family: "Montserrat";
  background-color: #fff;
}
.content-map {
  display: flex;
  width: 100%;
  height: auto;
}
.map {
  display: flex;
  width: 100%;
  height: 350px;
}
/* 
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
} */
