body {
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: justify;
}
h2 {
  font-size: 24px;
  color: #01050e;
}
.content{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f1;
    width: 100%;
    height: auto;
}
/**Header*/
.section-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #3368DF 0px 10px 25px -10px;
    width: 100%;
    height: 300px;
}
/**Header names*/
.section-page-header-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px; 
    font-weight: 700;
    color: #ebf5fb;
    margin: 50px;
}
/**Header headers img*/
.section-page-header-img {    
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/**Header Groups*/
.header-page-groups-img {  
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Women*/
.header-page-women-img {
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Men*/
.header-page-men-img {
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Rangers*/
.header-page-rangers-img {
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Worship*/
.header-page-worship-img {
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Young*/
.header-page-young-img {
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Dance*/
.header-page-dance-img {
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Kids*/
.header-page-kids-img {
    background-image: url('../../assets/images/Kids_Church.jpg'); 
}
/**Header Interssecion*/
.header-page-interssecion-img {
    background-image: url('../../assets/images/3.jpg'); 
}
/**Header Shepherds*/
.header-page-shepherds-img {
    background-image: url('../../assets/images/2.jpg'); 
}
/**Header Believe*/
.header-page-believe-img {
    background-image: url('../../assets/images/3.jpg'); 
}